@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@font-face {
font-family: 'Menlo';
font-style: normal;
font-weight: normal;
src: local('Menlo Regular'), url('../fonts/Menlo-Regular.woff') format('woff');
}
*                                       {
                                            -webkit-box-sizing: border-box;
                                            -moz-box-sizing: border-box;
                                            box-sizing: border-box;
                                            margin: 0;
                                            padding: 0;
}
*::-webkit-input-placeholder            { color: #333 }
*::-moz-placeholder                     { color: #333 }
*:-moz-placeholder                      { color: #333 }
body                                    {
                                            background-color: #fff;
                                            font-size: 13px;
                                            font-family: 'Roboto', "Helvetica", sans-serif;
                                            color: #999999;
                                            position:relative;
                                            background-size: 100%;
                                            background-image: url('../images/bg.jpg');
                                            background-repeat: no-repeat;
}
body.step1, body.step2, body.step3 {
											background-position: center right;
                                            background-position: top 300px right;
                                            background-position-y: 300px;
                                            background-repeat: no-repeat;
                                            background-size: auto;
}
body.step1 { background-image: url('../images/step1-bg.png'); }
body.step2 { background-image: url('../images/step2-bg.png'); }
body.step3 { background-image: url('../images/step3-bg.png'); }
body.login { background-image: url('../images/bg-login.jpg'); }
.left                                   { float: left }
.right                                  { float: right }
.clear                                  { clear: both }
.clearfix:after                         {
                                            visibility: hidden;
                                            display: block;
                                            content: "";
                                            clear: both;
                                            height: 0;
                                        }
.align-right                            { text-align: right !important }
.align-left                             { text-align: left !important }
.align-center                           { text-align: center !important }
.centered                               { margin: auto }
.spacer                                 {
                                            display: block;
                                            height: 20px;
                                            width: 100%;
}
.spacerbig                              {
                                            display: block;
                                            height: 40px;
                                            width: 100%;
}
.spacer-dashed                          {
                                            border-bottom: 2px dashed #ddd;
                                            height: 1px;
                                            width: 100%;
                                            margin: 10px 0;
}
.spacer-lined                           {
                                            background: #ddd;
                                            height: 1px;
                                            width: 100%;
                                            margin: 20px 0;
}
.spaced                                 { margin-top: 20px }
a                                       {
                                            text-decoration: none;
                                            color: #338c94 /*45c6e9*/;
}
#wrapper,
#headerwrap,
#subnav-wrapper                            {
                                            width: 940px;
                                            margin: auto;
}
#headerwrap:after {
	content: '';
	clear:both;
}
header.bordered {
	border-bottom: 3px solid #f0f0f0;
}
header                                  {
                                            width: 100%;
                                            height: 77px;
                                            background-color: #fff;
}
footer                                  {
                                            width: 100%;
                                            text-align: center;
                                            padding: 20px;
                                            border-top: 1px solid #ebebeb;
                                            color: #555;
}
#logo                                   {
                                            float: left;
                                            margin: 20px 40px 0px 0px;
                                            position: relative;
}
#subnav-wrapper {
	position: relative;
}
.subnav-title {
	position: absolute;
	left: 0;
	font-size: 15px;
	color: #fff;
}
#subnav-attention {
	color: #379096;
	padding-left: 30px;
	background: transparent url('../images/ico-warn.png') center left no-repeat;
}
#subnav-important {
	color: #db882e;
	padding-left: 30px;
	background: transparent url('../images/ico-att.png') center left no-repeat;
}
#nav                                    {
											margin-top: 26px;
                                            float: left;
                                            font-size: 15px;
}
#nav-after {
											margin-top: 26px;
                                            float: right;
                                            font-size: 15px;
}
#nav a, #btn-customize, #nav-after a {
	color: #181818;
	margin: 0 10px;
	padding-left: 24px;
	background-position: center left;
	background-repeat: no-repeat;
	font-weight: 500;
}
#nav a:hover, #nav-after a:hover, #nav a.active {
	color: #75c8c8;
}
#nav-support { background-image: url('../images/ico-support.png'); }
#nav-profile { background-image: url('../images/ico-profile.png'); }
#nav-logout { background-image: url('../images/ico-logout.png'); }
#nav-logout-light { background-image: url('../images/ico-logout-light.png'); }
#nav-dashboard { background-image: url('../images/ico-dashboard.png'); }
#nav-reports { background-image: url('../images/ico-reports.png'); }
#nav-academy { background-image: url('../images/ico-academy.png'); }
#nav-affiliates { background-image: url('../images/ico-affiliates.png'); }
#btn-customize { background-image: url('../images/ico-settings.png'); }

.centeredboxes							{
											width: 100%;
                                          	display: -webkit-box;
                                            display: -webkit-flex;
                                            display: -ms-flexbox;
                                            display: flexbox;
                                            display: box;
                                            display: flex;
                                            height: 100%;
                                            -webkit-flex-wrap: wrap;
                                            flex-wrap: wrap;
                                            -webkit-box-pack: justify;
                                            -ms-flex-pack: justify;
                                            -webkit-justify-content: space-between;
                                            justify-content: space-between;
                                            -webkit-box-align: center;
                                            box-align: center;
                                            box-pack: justify;
}
#step-progress, #dispute-progress {
	position: relative;
}
#step-progress-bar {
	position: absolute;
	width: 83%;
	bottom: 25px;
	left: 80px;
	background: #f2f2f2;
	display: block;
	height: 5px;
	z-index: -1;
	background-repeat: no-repeat;
	background-image: url('../images/step-progress.png');
}
#step-progress-bar.step2, #dispute-progress-bar.step2 {
	background-image: url('../images/step-progress-2.png');
}
#step-progress-bar.step3, #dispute-progress-bar.step3 {
	background-image: url('../images/step-progress-3.png');
}
#step-progress-content>div, #dispute-progress-content>div {
	background-repeat: no-repeat;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	z-index: 5;
	color: #a1a1a1;
}
#step-progress-content>div {
	height: 110px;
	width: 100px;	
	background-position: bottom center;
}
#dispute-progress-content>div {
	height: 80px;
	width: 100px;
	background-position: top center;
	padding-top: 50px;
}

#step-progress-content>div.highlighted {
	color: #181818;
}
#step2 { background-image: url('../images/step2-inactive.png'); }
#step3 { background-image: url('../images/step3-inactive.png'); }
#step1.step-active { background-image: url('../images/step1-active.png'); }
#step2.step-active { background-image: url('../images/step2-active.png'); }
#step3.step-active { background-image: url('../images/step3-active.png'); }

.popup-disputes {
	width: 500px;
}
.popup-disputes #dispute-progress {
	margin: 0;
}

#dispute-progress-bar {
	position: absolute;
	width: 80%;
	top: 20px;
	left: 35px;
	background: #f2f2f2;
	display: block;
	height: 3px;
	z-index: 1;
	background-repeat: no-repeat;
	background-image: url('../images/step-progress.png');
	background-size: 60% 3px;
}

#dispute-progress-bar.step2 {
	background-size: 85% 100%;
}

#dispute-progress-bar.step3 {
	background-size: 100% 3px;
}

#dispute-progress-content {
	font-size: 13px;
}

#dispute-progress-content>div {
	font-size: 11px;
}

#dispute-step2 { background-image: url('../images/dispute2.png'); }
#dispute-step3 { background-image: url('../images/dispute3.png'); }
#dispute-step1.step-active { background-image: url('../images/dispute1-active.png'); }
#dispute-step2.step-active { background-image: url('../images/dispute2-active.png'); }
#dispute-step3.step-active { background-image: url('../images/dispute3-active.png'); }

section {
	margin: 30px 0;
}

h1, h2, h3 {
	font-weight: 300;
	margin: 20px auto;
	text-align: center;
	color: #000;
}
h1 {
	font-size: 2.3em;
}
.bg-blue { background-color: #72c6cb; }
.bg-yellow { background-color: #ffa800; }
.bg-red { background-color: #ff5a5a; }
.clr-blue { color: #338c94; }
.clr-red { color: #e74b4b; }

#video-wrapper {
	width: 750px;
	height: 420px;
	margin: auto;
}
.button {
	padding: 16px;
	border-radius: 5px;
	margin: 0 5px;
	width: 240px;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	display: inline-block;
}
.button.autowidth {
	width: auto;
	padding: 16px 30px;
}
#step-buttons {
	margin: 30px auto;
	text-align: center;
	position: relative;
}
#clip-spacer {
	text-align: center;
	position: relative;
}
#clip-spacer>img {
	padding: 20px;
}
#clip-spacer>span {
	display: block;
	height: 1px;
	background: #ebebeb;
	position: absolute;
	top: 40px;
	width: 100%;
	z-index: -1;
}
#bottom-info>div {
	width: 30%;
	line-height: 22px;
}
#bottom-info>div>p {
	margin-bottom: 20px;
}

#btn-customize {
	font-size: 15px;
	color: #72c6cb;
	position: absolute;
	right: 55px;
	top: 15px;
}

.popup-overlay {
	background: rgba(37, 51, 52, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	min-height: 100%;
	z-index: 10;
	text-align: center;
}
.popup-content {
	margin: auto;
	margin-top: 150px;
	padding: 20px 30px;
	text-align: center;
	border-radius: 7px;
	border-right: 2px solid #feb502;
	border-left: 2px solid #71c5cd;
	border-top: 2px solid #b0e77f;
	border-bottom: 2px solid #94dea4;
	position: relative;
	display: inline-block;
	background: #fff;
	font-size: 15px;
}
.popup-content p {
	line-height: 24px;
	margin: 20px auto;
	width: 400px;
}
.popup-content h2 {
	color: #000;
	font-size: 20px;
}
.popup-content .button {
	width: auto;
	min-width: 150px;
	padding: 10px 30px;
	margin: 10px auto;
}
.popup-close {
	position: absolute;
	right: 20px;
	top: 20px;
}
.popup-content .table-pagination-pages>a {
	padding: 5px;
}
.popup-content .table-tabs {
	text-align: left;
}
.table-tabs {
	font-size: 15px;
}
.table-tabs>a {
	padding: 15px 10px;
	color: #333;
	display: inline-block;
	border-radius: 5px 5px 0 0;
}
.table-tabs>a>img {
	vertical-align: bottom;
	padding: 0 20px;
}
.table-tabs>a.active {
	background-color: #f5f5f5;
}

.table {
	background: #f5f5f5;
	width: 100%;
	padding: 10px;
}
.table-holder {
	overflow-x: auto;
}
.table table {
	border-spacing: 0;
	min-width: 500px;
	width: 100%;
}
.table table th {
	text-align: left;
	color: #000;
	font-weight: 500;
	padding: 10px;
	background: #f5f5f5;
}
.table table td {
	border-spacing: 0;
	border: 0;
	color: #4b4b4b;
	font-size: 15px;
	padding: 15px;
}

.table select {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 13px;
}

.table table tr:nth-child(2n+1) {
	background-color: #fff;
}
.table-pagination {
	margin: 10px 0;
}
.table-pagination-pages>a {
	display: inline-block;
	width: 35px;
	height: 35px;
	padding-top: 5px;
	padding-left: 11px;
	font-size: 20px;
	color: #333;
}
.table-pagination-pages>a.active {
	border-radius: 50%;
	border: 1px solid #ffa800;
}

.table-pagination-button>a {
	display: inline-block;
	padding: 8px;
	font-size: 15px;
	color: #333;
}
a.btn-prev {
	padding-left: 40px;
	background: transparent url('../images/arr-left.png') center left no-repeat;
}
a.btn-next {
	padding-right: 40px;
	background: transparent url('../images/arr-right.png') center right no-repeat;
}

.error {
	margin: 20px 0;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center left;
	background-position: center left 20px;
	background-position-x: 20px;
	border-radius: 5px;
}

.error-ok {
	background-image: url('../images/ico-ok.png');
	color: #6b9044;
	background-color: #f0f7de;
	text-align: center;
}

.error-fail {
	background-image: url('../images/ico-error.png');
	color: #ee0000;
	background-color: #ffe8e8;
	text-align: center;
}
.error>span {
	font-weight: 700;
}

#customize-header {
	margin: 20px 0;
	border-bottom: 1px solid #ebebeb;
}
#customize-header .left {
	font-size: 2em;
	color: #000;
	font-weight: 300;
	margin-top: 5px;
}
#customize-header .left:before {
	content: url('../images/ico-settings-big.png');
	vertical-align: -5px;
	margin-right: 10px;
}
#customize-popup .button {
	text-transform: none;
	font-weight: 300;
}
#cust-autopilot, #cust-sync {
	padding-left: 20px;
}
#cust-autopilot:before {
	content: url('../images/ico-off.png');
	margin-right: 10px;
}
#cust-top-buttons {
	display: inline-block;
}
#cust-sync:before {
	content: url('../images/ico-sync.png');
	margin-right: 10px;
	height: 12px;
	display: inline-block;
	vertical-align: -2px;
}
#cust-mycal:before {
	content: url('../images/ico-cal.png');
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
#customize-footer {
	margin-top: 20px;
}

#customize-footer .left label {
	display: block;
	font-size: 12px;
	line-height: 30px;
	text-align: left;
}
#customize-footer .left select {
	width: 220px;
}
#customize-footer .left>div {
	display: inline-block;
	width: 200px;
}
#customize-footer .right {
	padding-top: 20px;
}
#step3-cust-table td {
	padding: 10px;
}
#step3-cust-table th {
	font-size: 13px;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	padding: 7px 18px;
	padding-right: 30px;
	line-height: 20px;
	font-size: 1em;
	background-color: #ffff;
	border: 1px solid #dfdef0;
	box-sizing: border-box;
	overflow: visible !important;
	background-image: url('../images/ico-4.png');
	background-position: center right 5%;
	background-position-x: 95%;
	background-position-y: center;
	background-repeat: no-repeat;
	font-family: 'Roboto';
	border-radius: 5px;
}

select::-ms-expand {
    display: none;
}

input                                   {
                                            font-size: 15px;
                                            font-weight: 100;
                                            display: block;
                                            padding: 10px 18px;
                                            margin: 10px 0;
                                            border: 1px solid #e5e5e5;
                                            width: 100%;
                                            background-position: center right 20px;
                                            background-repeat: no-repeat;
                                            border-radius: 3px;
                                        }
.i-email								{ background-image: url('../images/i-email.png') }
.i-password                             { background-image: url('../images/i-password.png') }
.i-user								{ background-image: url('../images/i-user.png') }
.i-phone								{ background-image: url('../images/i-phone.png') }
.i-ssn								{ background-image: url('../images/i-ssn.png') }
.i-address								{ background-image: url('../images/i-address.png') }
.i-card								{ background-image: url('../images/i-card.png') }

#nav-after a.button {
	padding: 8px;
	width: 80px;
	font-size: 13px;
	color: #fff;
	margin: 0 5px;
}

#login-wrapper {
	width: 360px;
	margin: 130px auto;
	text-align: center;
}
#login-wrapper a.button {
	display: block;
	width: 100%;
	margin: 20px 0;
}

.popup-disputes .clearfix>div {
	width: 48%;
}

.popup-disputes input, .popup-disputes select {
	width: 100%;
	margin: 0;
	margin-bottom: 20px;
}

.popup-disputes h1 {
	font-size: 30px;
}

#dispute-total h1 {
	display: inline;
	line-height: 30px;
}

input[type="checkbox"]                  { display: none }
input[type="checkbox"] + label          {
                                            display: block;
                                            width: 100%;
                                            background: url('../images/check.png') center left no-repeat;
                                            cursor: pointer;
                                            padding: 5px;
                                            padding-left: 30px;
                                            font-size: 13px;
                                        }
input[type="checkbox"]:checked + label  { background-image: url('../images/checked.png') }
.input-bg                               {
                                            padding: 10px;
                                            padding-left: 40px;
                                            background-position: center left 15px;
                                            background-position-x: 15px;
                                            background-repeat: no-repeat;
                                        }

#dispute-total {
	font-size: 13px;
	width: 30%;
}

.popup-disputes .button {
	display: block;
	width: 100%;
	padding: 16px;
	margin: 20px auto;
}

#disputes-disclaimer {
	font-size: 13px;
}

.note-blue {
	width: 100%;
	display: block;
	color: #338c94;
	margin-bottom: 20px;
}

#disputes-cardinfo>div {
	width: 30%;
}

#disputes-cardinfo input {
	display: inline;
}

#footer-links>a {
	font-size: 15px;
	color: #141414;
	margin: 20px 15px;
	display: inline-block;
	font-weight: 500;
}

#footer-social                          { margin-top: 20px }
#footer-social>a                        {
                                            display: inline-block;
                                            margin: 5px;
                                            height: 40px;
                                        }
#footer-social>a img                    { /*vertical-align: bottom;_NO__DOTCOMMA__AFTER__*/ }
#footer-social>a:hover img              { vertical-align: bottom }

#head-subinfo, #head-submenu {
	height: 40px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	background: #72c6cb url('../images/subinfo-bg.png') top left repeat-x;
}
#head-subinfo.landing {
	background: #dff2f2 url('../images/subinfo-bg2.png') top left repeat-x;
	color: #6f7979;
}
#head-subinfo.dash-active {
	background: #dff2f2 url('../images/subinfo-bg3.png') top left repeat-x;
	color: #50371d;
}
#head-subinfo {
	padding: 12px;
}

.page-head {
	margin: 40px auto;
}

#cr-graphs>div>div {
	display: inline-block;
	vertical-align: middle;
}

#cr-graphs>div, #comissions-graphs>div {
	border-right: 1px solid #e5e5e5;
	padding: 10px 0;
}

#cr-graphs>div:last-child, #comissions-graphs>div:last-child {
	border: 0;
}

.cr-graph-data {
	font-size: 60px;
	font-weight: 100;
	line-height: 100px;
	color: #000;
	margin-right: 20px;
}

.cr-graph-info {
	font-size: 15px;
	margin-right: 5px;
}

.cr-graph {
	margin: 0 10px;
}

.cr-graph-ico {
	top: 2px !important;
}

#dashboard-data>div {
	width: 31%;
}

#dashboard-data .button {
	width: 100%;
	display: block;
	margin: 0;
}

#creditmonitor-wrapper, #countdown-wrapper {
	text-align: center;
}

#creditmonitor-info, #countdown-info {
	padding-top: 12px;
	line-height: 18px;
	margin-bottom: 10px;
}

#creditmonitor, #countdown-timer {
	background: #fff;
	border: 1px solid #e5e5e5;
	height: 187px;
	padding: 50px 0;
}
#countdown-timer {
	padding: 70px 18px;
}

.button.disabled {
	opacity: 0.4;
}

.progress-wrapper {
	width: 100%;
}

.progress-label {
	display: block;
	margin: 5px 0;
	font-size: 15px;
}
.progress-label .right {
	color: #000;
	font-weight: 500;
}

.progress-bar-bg {
	background-color: #ececec;
	border-radius: 5px;
	width: 100%;
	height: 10px;
}

.progress-bar {
	border-radius: 5px;
	height: 10px;
	background: #72c6cb; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #72c6cb , #bce36c); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #72c6cb , #bce36c); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #72c6cb , #bce36c); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #72c6cb , #bce36c); /* Standard syntax */
}

.aff-link-wrapper .left                 {
                                            width: 160px;
                                            font-size: 20px;
                                            font-weight: 300;
                                            color: #000;
                                        }
.aff-link-wrapper .aff-link-title {
	line-height: 30px;
}
.aff-link-wrapper .right                {
											width: 550px;
											font-size: 15px;
											
										}
.aff-link-wrapper .right>h3             {
                                            font-size: 14px;
                                            font-weight: 500;
                                            padding: 8px 20px;
                                            border-left: 1px solid #eaebed;
                                        }
.aff-link {
	font-size: 13px;
	color: #000;
	font-weight: 500;
	margin-top: 24px;
}

.aff-link>a {
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
}

.aff-link>a:after {
	content: url('../images/arr-right-blue.png');
	display: inline-block;
	margin-left: 20px;
}


#submenu {
	font-size: 0;
}

#submenu>a {
	font-size: 15px;
	display: inline-block;
	line-height: 38px;
	padding: 0px 20px;
	padding-left: 40px;
	background-position: center left;
	background-position: center left 15px;
	background-position-x: 15px;
	background-repeat: no-repeat;
	color: #fff;
}
#submenu>a:hover, #submenu>a.active {
	background-color: #53b0b6;
}

#sub-hit { background-image: url('../images/sub-1.png'); }
#sub-links { background-image: url('../images/sub-2.png'); }
#sub-training { background-image: url('../images/sub-3.png'); }
#sub-resources { background-image: url('../images/sub-4.png'); }
#sub-comissions { background-image: url('../images/sub-5.png'); }
#sub-payments { background-image: url('../images/sub-6.png'); }
#sub-settings { background-image: url('../images/sub-7.png'); }
#sub-support { background-image: url('../images/sub-8.png'); }
#sub-billing { background-image: url('../images/sub-9.png'); }

.video,
.aff-resource-preview,
.content-left                           {
                                            width: 620px;
                                            float: left;
                                            border-radius: 5px;
                                        }
.video-sideinfo,
.content-right                          {
                                            float: right;
                                            width: 300px;
                                        }
.video-sideinfo.playlist>a              {
                                            color: #717171;
                                            padding: 16px;
                                            padding-left: 50px;
                                            display: block;
                                            border-bottom: 1px solid #e6e6e6;
                                            position: relative;
                                            font-size: 15px;
                                            font-weight: 500;
                                        }
.video-sideinfo.playlist.aff-resources>a {
	background-color: #f8f8f8;
}
.video-sideinfo.playlist.aff-resources>a.active {
	background-color: #72c6cb;
	color: #fff;
	font-weight: 400;
}
.video-sideinfo.playlist>a span         {
                                            position: absolute;
                                            right: 20px;
                                            font-size: 11px;
                                            font-weight: 300;
                                        }
.video-sideinfo.playlist .title
                                        {
                                            padding: 0px;
                                            margin-bottom: 10px;
                                            padding-left: 10px;
                                            font-weight: 300;
                                            font-size: 20px;
                                            border: 0;
                                        }
.video-sideinfo.playlist .calendar      {
                                            padding: 13px;
                                            padding-left: 50px;
                                            color: #fff;
                                            font-weight: 300;
                                            font-size: 20px;
                                            background-color: #a7a9ae;
                                        }
.video-sideinfo.playlist>a:before       {
                                            position: absolute;
                                            left: 20px;
                                            opacity: 0.5;
                                        }
.video-sideinfo.playlist>a.active:before
                                        { opacity: 1 }
.video-sideinfo.playlist .video-stopped:before,
.video-sideinfo.playlist #ibpro-training-title:before
                                        { content: url('../images/ico-video-play.png') }
.video-sideinfo.playlist .video-playing:before
                                        { content: url('../images/ico-video-pause.png') }
.video-sideinfo.playlist>a.active       {
                                            color: #000;
                                        }
.video-sideinfo.playlist .showmore, #academy .showmore {
	margin: 20px 0;
	border: 1px solid #72c6cb;
	padding: 5px;
	text-align: center;
	font-size: 13px;
}
.video-data>h2 {
	text-align: left;
}

.video-data>span {
	font-size: 14px;
	line-height: 24px;
	display: block;
}

.video-data .btn-next {
	background-image: url('../images/arr-right-blue.png');
	font-size: 17px;
	line-height: 44px;
}

.video-data .video-buttons .button {
	padding: 16px 24px;
	width: auto;
	margin: 0;
}
.video-data .video-buttons>div {
	margin-right: 30px;
}
.video-data .video-buttons {
	margin: 30px 0;
}

#hiw-sideinfo {
	background: transparent url('../images/hiw-bg.jpg') top left no-repeat;
	width: 300px;
	height: 350px;
	text-align: center;
	position: relative;
}

#hiw-sideinfo .button {
	bottom: 20px;
	left: 25px;
	position: absolute;
}

.tabledef                                   {
                                            width: 100%;
                                            border-spacing: 0;
                                            background: #f5f5f5;
                                            color: #000;
                                            padding: 10px;
                                            border-radius: 5px 5px 0 0;
                                            font-size: 15px;
                                        }
.tabledef th                                {
                                            text-align: left;
                                            font-weight: 500;
                                            color: #000;
                                            padding: 10px;
                                            font-size: 13px;
                                            background: #f5f5f5;
                                        }
.tabledef td                                {
                                            font-weight: 500;
                                            padding: 15px 10px;
                                            padding-right: 5px;
                                        }
.tabledef tr:nth-child(2n+1)                { background-color: #fff }
.tabledef-pagination {
	background: #f5f5f5;
	text-align:center;
	border-top: 1px solid #dcdcdc;
	position: relative;
}
.tabledef-pagination .table-pagination-pages>a {
	padding-left: 2px;
	font-weight: 400;
	margin: 0 10px;
}
.tabledef-pagination .btn-left>a, .tabledef-pagination .btn-right>a {
	color: #000;
	opacity: 0.4;
}
.tabledef-pagination .btn-left>a:hover, .tabledef-pagination .btn-right>a:hover {
	opacity: 1;
}
.tabledef-pagination .btn-left>a>img, .tabledef-pagination .btn-right>a>img {
	margin: 0 10px;
}

.tabledef-pagination .btn-left {
	position: absolute;
	top: 25px;
}

.tabledef-pagination .btn-right {
	position: absolute;
	top: 25px;
	right: 0px;
}

#aff-stats-table td:nth-child(2) {
	width: 25%;
}

#aff-stats>div .left {
	margin-right: 20px;
}
#aff-stats>div {
	padding-right: 25px;
	border-right: 1px solid #ebebeb;
}
#aff-stats>div:last-child {
	border: 0;
}
#aff-stats>div .right h2 {
	margin: 5px 0;
}

#aff-stats {
	width: 630px;
	margin: auto;
}

.aff-resource-preview                   {
                                            border: 1px solid #72c6cb;
                                        }
.aff-resource-type                      {
                                            color: #9a9a9a;
                                            font-size: 20px;
                                            margin-bottom: 10px;
                                        }
.aff-resource-view-title                {
                                            background-position: center right 3%;
                                            background-position-x: 97%;
                                            background-repeat: no-repeat;
                                            font-weight: 500;
                                            padding: 15px 20px;
                                            display: block;
                                            margin-top: 5px;
                                            border-bottom: 1px solid #e5e5e5;
                                        }
.aff-resource-view-title.opened         { background-image: url('../images/ico-up.png') }
.aff-resource-view-title.closed         { background-image: url('../images/ico-down.png') }
.aff-resource-view-title>span           { color: #919191 }
.aff-resource-view-text                 {
                                            color: #666;
                                            background-color: #fff;
                                            padding: 1px 20px;
                                            font-family: 'Menlo';
                                            font-size: 13px;
                                            position: relative;
                                        }
.aff-resource-view-text>a.copy,
.subscription .edit,
.cc .edit                               {
                                            position: absolute;
                                            right: 15px;
                                            top: 15px;
                                            font-size: 11px;
                                            border-radius: 3px;
                                        }
.aff-resource-view-text>a.copy          {
                                            color: #fff;
                                            background: #ffa800 url('../images/ico-copy.png') center left no-repeat;
                                            background-position: center left 5px;
                                            background-position-x: 5px;
                                            padding: 4px;
                                            padding-left: 20px;
                                        }
.subscription .edit,
.cc .edit                               {
                                            color: #7d7d7d;
                                            background: #eae9e9 url('../images/ico-edit.png') center left no-repeat;
                                            background-position: center left 5px;
                                            background-position-x: 5px;
                                            padding: 3px 4px;
                                            padding-left: 20px;
                                        }
.aff-resource-view-text>p               { margin: 14px 0 }
#video-sideinfo.aff-resources           { font-weight: 500 }
#aff-res-fbw:before                     { content: url('../images/ico-5.png') }
#aff-res-fbm:before                     { content: url('../images/ico-6.png') }
#aff-res-lem:before                     { content: url('../images/ico-7.png') }
#aff-res-sem:before                     { content: url('../images/ico-8.png') }
#aff-res-ban:before                     { content: url('../images/ico-9.png') }

#aff-res-fbw.active:before                     { content: url('../images/ico-5h.png') }
#aff-res-fbm.active:before                     { content: url('../images/ico-6h.png') }
#aff-res-lem.active:before                     { content: url('../images/ico-7h.png') }
#aff-res-sem.active:before                     { content: url('../images/ico-8h.png') }
#aff-res-ban.active:before                     { content: url('../images/ico-9h.png') }

#video-landing {
	width: 750px;
	height: 420px;
	margin: auto;
}

#landing-links .button {
	width: auto;
	padding: 18px 30px;
}

#landing-links span {
	display: block;
	margin: 20px 0;
	font-size: 14px;
}

#landing-text {
	font-size: 14px;
	line-height: 30px;
}
#landing-text>div {
	width: 48%;
}

#billing-subscriptions>div,
#billing-methods                        {

                                            margin-bottom: 10px;
                                        }
#billing-subscriptions>div>h3,
#billing-methods>h3                     { margin: 10px 0; text-align: left; font-size: 20px }
.subscription,
.cc                                     {
                                            width: 100%;
                                            background-color: #f5f5f5;
                                            position: relative;
                                            margin-bottom: 20px;
                                            border: 1px solid transparent;
                                            border-radius: 5px;
                                        }
.subscription:hover                     { border: 1px solid #72c6cb;  background: #fff; }
.subscription:hover>a.edit,
.cc:hover>a.edit		              {
                                            color: #fff;
                                            background: #ffa800 url('../images/ico-edit-a.png') center left no-repeat;
                                            background-position: center left 5px;
                                            background-position-x: 5px;
                                        }
.subscription>h3,
.cc>h3                                  {
											text-align: left;
                                            font-weight: 500;
                                            padding: 15px 20px;
                                            margin: 0;
                                        }
.sub-info,
.cc-info                                {
											color: #000;
                                            border-top: 1px solid #ebebeb;
                                            margin: 0;
                                        }
.sub-info>div                           {
                                            font-weight: 500;
                                            padding: 15px 20px;
                                            padding-left: 35px;
                                            border-right: 1px solid #ebebeb;
                                            background-position: center left 10px;
                                            background-repeat: no-repeat;
                                        }
.sub-info>div>span,
.cc-info>div>span                       { color: #ababab }
.sub-info-nb                            { background-image: url('../images/ico-12.png') }
.sub-info-cc                            { background-image: url('../images/ico-13.png') }
.sub-info-pr                            { background-image: url('../images/ico-14.png') }
#order-history-table {
	color: #3e3e3e;
}
#order-history-table td:nth-child(3)    {
                                            width: 50px;
                                            text-align: center;
                                        }
#order-history-table td:nth-child(1) {
	width: 130px;
}
.cc:hover                               { border: 1px solid #72c6cb; background: #fff; }
.cc>h3>img                              { margin-right: 20px }
.cc-info                                {
                                            color: #696969;
                                            padding: 10px 20px;
                                            padding-right: 10px;
                                        }
#addcard                                { margin: 0; margin-top: 20px; width: auto; display: block; padding: 10px; }

#reports-table {
	color: #787878;
}
#reports-table td:first-child, #reports-table td:last-child {
	width: 20%;
}

#academy-videos-wrapper {
	margin: auto;
}

.academy-video {
	height: 270px;
	width: 220px;
}

.academy-video-title {
	color: #333333;
	font-size: 15px;
	line-height: 20px;
	display: block;
	font-weight: 500;
	margin-top: 10px;
}

#academy .showmore {
	padding: 6px 20px;
	border-radius: 5px;
}

#categories>div {
	width: 150px;
	text-align: right;
	margin-left: 10px;
	display: inline-block;
	line-height: 30px;
}

#categories {
	padding-top: 30px;
}

#categories .selectboxit-container span,
#categories .selectboxit-container .selectboxit-options a {
	height: 30px;
	line-height: 30px;
}
#categories .selectboxit-btn {
	border: 0;
	color: #55a1a6;
	font-weight: 500;
}
#categories .selectboxit-list {
	border: 0;
}

#table-comissions td {
	padding: 15px 5px;
}

#table-comissions tbody td {
	color: #191919;
}

#table-comissions td:first-child {
	color: #777;
}
#table-comm-picker>div {
	width: 20%;
}

#table-comm-picker>div:first-child {
	line-height: 36px;
	width: 100px;
}

#table-comm-picker .selectboxit-btn {
	background: #fff;
}

#comissions-graphs {
	margin: auto;
	text-align: center;
}
#comissions-graphs h2 {
	margin: 5px 0;
}

.com-graph {
	padding: 0 46px;
	margin-bottom: 20px;
}

#settings-form-wrapper {
	width: 600px;
	margin: auto;
}
#settings-form-wrapper input {
	margin-bottom: 20px;
}

#settings-zip input {
	width: 100px;
	margin: 0;
	margin-top: 2px;
}
#settings-state {
	width: 60%;
}

#settings-state .selectboxit-container {
	margin-bottom: 10px;
	margin-top: 2px;
}

#settings-form-data>div {
	width: 45%;
}

#step3-cust-table {
	min-width: 900px;
}

#step3-cust-table .selectboxit-container {
	margin: 0;
}

#customize-header .right .sel {
	width: 180px;
	display: inline-block;
}

#customize-header .right .sel .selectboxit-container {
	margin-top: -10px;
}

@media screen and (max-width: 768px) {
	body.step1, body.step2, body.step3 {
		background-image: none;
	}
	#wrapper,
	#headerwrap,
	#customize-popup {
		width: 730px;
	}
	section {
		margin: 30px auto;
	}
	#step-progress-bar {
		background-size: 50% 100%;
	}
	#video-wrapper {
		width: 728px;
		height: 410px;
	}
	#step-progress-bar.step3 {
		background-size: 100% 100%;
	}
	#step-progress-bar.step2 {
		background-size: 100% 80%;
	}
	.popup-content {
		margin: 50px auto;
	}
	#customize-popup .right {
		float: none;
		clear: both;
	}
	.popup-content .table-tabs>a {
		padding: 10px 5px;
	}
	.popup-content .table-tabs>a>img {
		margin: 0;
	}
	#customize-footer>div {
		float: none;
	}
}
@media screen and (max-width: 320px) {
	body {
		font-size: 10px;
	}
	#wrapper,
	#headerwrap {
		width: 300px;
	}
	#video-wrapper {
		width: 300px;
		height: 180px;
	}
	header {
		height: auto;
	}
	#headerwrap>div {
		text-align: center;
		float: none;
	}
	#bottom-info {
		font-size: 13px;
		display: block;
	}
	#bottom-info>div {
		width: 100%;
	}
	#step-progress-content>div {
		background-size: 30%;
		height: 70px;
	}
	#step-progress-bar {
		width: 67%;
		bottom: 11px;
		left: 48px;
	}
	#step-progress-bar.step2 {
		background-size: 100% 100%;
	}
	.button {
		width: 138px;
		font-size: 13px;
		padding: 10px;
	}
	.table-tabs>a>img {
		display: none;
	}
	.table-pagination-button>a>span {
		display: none;
	}
	.table-pagination-pages>a {
		font-size: 15px;
		padding: 8px 12px;
		margin: 0;
	}
	.table table td {
		font-size: 13px;
	}
	#btn-customize {
		position: static;
		display: block;
		text-align: center;
		width: 100px;
		margin: 20px auto;
		margin-bottom: 0;
	}
	.error {
		padding: 10px 50px;
	}
	.popup-content, #customize-popup {
		width: 300px;
		padding: 10px;
	}
	.popup-content p {
		width: auto;
	}
	.popup-content .button {
		min-width: 0;
		padding: 10px 20px;
	}
	#customize-header .left {
		font-size: 20px;
		margin-bottom: 20px;
	}
	#customize-header .left:before {
		content: url('../images/ico-settings.png');
		vertical-align: 0;
	}
	#customize-footer .right>a {
		padding: 10px 15px;
		height: 35px;
	}
	#customize-header .right>label {
		margin-top: 18px;
		display: inline-block;
	}
}